@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body {

    font-family: 'Poppins', sans-serif;
}
.sidebar-small {
    position: fixed;
}


/*Custom Table Sorter css*/

.dataTable-search {
    float: right;
    margin-top: -43px;
}
.dataTable-top, .dataTable-bottom {
    padding: 1rem 0;
  }
  [dir="ltr"] .dataTable-top > nav:first-child, [dir="ltr"] .dataTable-top > div:first-child, [dir="ltr"] .dataTable-bottom > nav:first-child, [dir="ltr"] .dataTable-bottom > div:first-child{
    float:left;
  }
  [dir="rtl"] .dataTable-top > nav:first-child, [dir="rtl"] .dataTable-top > div:first-child, [dir="rtl"] .dataTable-bottom > nav:first-child, [dir="rtl"] .dataTable-bottom > div:first-child{
    float:right;
  }
  [dir="ltr"] .dataTable-top > nav:last-child, [dir="ltr"] .dataTable-top > div:last-child, [dir="ltr"] .dataTable-bottom > nav:last-child, [dir="ltr"] .dataTable-bottom > div:last-child{
    float:right;
  }
  [dir="rtl"] .dataTable-top > nav:last-child, [dir="rtl"] .dataTable-top > div:last-child, [dir="rtl"] .dataTable-bottom > nav:last-child, [dir="rtl"] .dataTable-bottom > div:last-child{
    float:left;
  }
  .dataTable-input {
    border-radius:0.25rem;
    border-width:1px;
    --tw-border-opacity:1;
    border-color:rgba(239, 240, 254, var(--tw-border-opacity));
    --tw-bg-opacity:1;
    background-color:rgba(246, 245, 255, var(--tw-bg-opacity));
    padding-left:1rem;
    padding-right:1rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    outline:2px solid transparent;
    outline-offset:2px;
  }
  .dataTable-input:focus {
    border-width:1px;
    --tw-border-opacity:1;
    border-color:rgba(224, 224, 252, var(--tw-border-opacity));
  }
  .dataTable-selector {
    border-radius:0.25rem;
    border-width:1px;

    --tw-border-opacity:1;
    border-color:rgba(239, 240, 254, var(--tw-border-opacity));
    --tw-bg-opacity:1;
    background-color:rgba(246, 245, 255, var(--tw-bg-opacity));
    padding-left:1rem;
    padding-right:1rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    outline:2px solid transparent;
    outline-offset:2px;
  }
  [dir="ltr"] .dataTable-selector {
    margin-right:0.5rem;
  }
  [dir="rtl"] .dataTable-selector {
    margin-left:0.5rem;
  }
  .dataTable-table {
    width:100%;
    max-width:100%;
    border-spacing: 0;
    border-collapse: collapse;
  }
  .dataTable-info {
    margin: 0 0 1rem 0;
  }
  [dir="ltr"] .dataTable-pagination ul {
    margin:0px;
    padding-left:0px;
  }
  [dir="rtl"] .dataTable-pagination ul {
    margin:0px;
    padding-right:0px;
  }
  [dir="ltr"] .dataTable-pagination li {
    list-style: none;
    float: left;
  }
  [dir="rtl"] .dataTable-pagination li {
    list-style: none;
    float: right;
  }
  .dataTable-pagination a {
    position:relative;
    border-radius:0.25rem;
    padding-left:1rem;
    padding-right:1rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    border: 1px solid transparent;
    margin-left: 2px;
    text-decoration: none;
  }
  [dir="ltr"] .dataTable-pagination a {
    float:left;
  }
  [dir="rtl"] .dataTable-pagination a {
    float:right;
  }
  .dataTable-pagination a:hover {
    --tw-bg-opacity:1;
    background-color:rgba(224, 224, 252, var(--tw-bg-opacity));
  }
  .table-bordered {
    border-collapse:collapse;
  }
  .table-bordered td, .table-bordered th {
    border-width:1px;
    --tw-border-opacity:1;
    border-color:rgba(239, 240, 254, var(--tw-border-opacity));
    padding-left:0.75rem;
    padding-right:0.75rem;
    padding-top:1rem;
    padding-bottom:1rem;
  }
  .table-bordered-bottom tr {
    border-bottom-width:1px;
    --tw-border-opacity:1;
    border-color:rgba(239, 240, 254, var(--tw-border-opacity));
  }
  .table-bordered-bottom td, .table-bordered-bottom th {
    padding-left:0.75rem;
    padding-right:0.75rem;
    padding-top:1rem;
    padding-bottom:1rem;
  }



/* Sidebar small  */
@media (min-width: 768px) {
    .sidebar-small {
      position: absolute;
    }
    .sidebar-small .sidebar-small-text {
      display: none;
    }
    .sidebar-small .sidebar-small-icon {
      font-size: 1.5rem;
    }
    .sidebar-small .sidebar-small-overflow {
      overflow: visible;
    }
    .sidebar-small .sidebar-small-menu ul {
      background-color:rgb(15 23 42 / var(--tw-bg-opacity));
      --tw-bg-opacity:0.9;
    }
    .dark .sidebar-small .sidebar-small-menu ul {
      --tw-bg-opacity:0.8;
    }
    .sidebar-small .sidebar-small-menu ul {
      display: none;
      position: absolute;
      padding: .25rem;
      left: 101%;
      margin-left: 0;
      margin-top: -3rem;
      border-radius: 0 0.5rem 0.5rem 0;
    }
    .sidebar-small .sidebar-small-menu>li:hover>a {
      --tw-bg-opacity:1;
      background-color:rgb(51 65 85 / var(--tw-bg-opacity));
      --tw-text-opacity:1;
      color:rgb(6 182 212 / var(--tw-text-opacity));
    }
    .sidebar-small .sidebar-small-menu li:hover ul {
      display: block !important;
    }
  }







  .chat-app {
    display: flex;
    flex-direction: row;
    overflow: hidden
}

.min-h {
    min-height: calc(100vh - 400px)
}

.chat-app .chat-room .fromMe {
    flex-direction: row-reverse
}
































